<footer class="fixed bottom-0 p-4 bg-white rounded-lg shadow md:p-4 dark:bg-gray-800 w-full flex justify-center">
    <span class="text-sm text-gray-500 text-center dark:text-gray-400">© <%= Time.now.year %> <a href="https://simplero.com/" class="hover:underline">Simplero</a>. All Rights Reserved.
    </span>
</footer>
