<li class="mr-2">
    <%= link_to title, link, class: "inline-block p-4 rounded-t-lg border-b-2 #{ (request.fullpath.split("?page").first == link) || (request.fullpath.split("&page").first == link) ? "text-blue-600 border-blue-600 active dark:text-blue-500 dark:border-blue-500" : "border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" }", aria: { current: "page" } %>
</li>
