<header class="sm:px-6 lg:px-8 bg-white shadow">
  <div class="flex justify-between items-center mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900"><%= title %></h1>
    <%= content %>
  </div>
</header>
