<div class="flex justify-center inline-flex overflow-hidden relative justify-center items-center bg-slate-200 rounded-full bg-clip-content box-content w-<%= size %> h-<%= size %> border-2 p-1 border-<%= color %>-600 primary-600">
    <span class="font-medium text-xs text-gray-700"><%= initial %></span>
</div>
