      <%= render(HeaderComponent.new(title: "Groups")) do %>
        <%= link_to 'New group', new_group_path, data: { "turbo-frame": "modal" }, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <% end %>


      <main>
        <div class="mx-auto max-w-5xl py-6 md:mb-14 sm:px-6 lg:px-8">
          <div class="w-full">

            <ul id="groups" class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
              <%= render @groups %>
            </ul>

          </div>

        </div>
      </main>

