<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New sub comment</h1>

  <%= render "form", sub_comment: @sub_comment %>

  <%= link_to 'Back to sub comments', sub_comments_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
